
/* bagian css : jefrin  */
*{
    font-family: arial;
}
.container{
    display: grid;
    position: fixed;
    width: 100%;
    margin :-8px;
    height: 60px;
    background-color: white;
    grid-template-columns: 50%  5% 5% 5% 5% 5% 5% 5% 5%  ;
    
}

.item{
    background-color: white;
    font-size: 17px;
    text-align: center;
    height:30px ;
    /* border: 1px solid gray; */
    padding: 10px;  
}

.item1{
    width: 45%;
    height: 30px;
    
}
.item1 img{
    width: 40%;
    height: 35px;
}
.item2 img{
    width: 45%;
}

.footer{
   display: grid;
    
    width: 100%;
    margin :0;
    background-color: white;
    grid-template-columns: 55%  15% 15% 15%   ;
    color: grey;
    
    
}

.fot-item{
    border: 1px solid white;
    background-color: white;
    text-align: center;
    margin: 0px 3px;
    /* height: 80%; */
    padding: 10px; 
}

.fot8{
    margin-left:80px;
}

.fot-item img{
    width: 20%;
    margin-right: 55%;
    padding-top: 5%;
}

.fot5 p{
    text-align: center;
}

.fot2{
    text-align: left;
    padding-top: 30% ;
}

.fot3{
 text-align: left;
 
}

.fot4{
    height: 100%;
}
.fot7{
    text-align: left;
    padding-left: 12%;
}

.last{
    display: grid;
    background-color: white;
    grid-template-columns: 55% 10% 10% 10% 5% 5%;
    color: grey;
}

.b1{
    padding-left: 12%;
}

/*  akhir css jefrin */

/* bagian gambar */

.size-img{
    width: 100%;
    height: 700px;
    margin-top: 60px;
}

/* -------------------------------------------- */

/*  bagian layanan */

.layanan-container{
    background-color: whitesmoke;
    display: grid;
    height: 700px;
    grid-template-columns: 30% 30% 30% 30;
    justify-content: space-evenly;
    align-items: center;
}

.item-layanan{
    border: 1px solid black;
    text-align: center;
    height: 500px;
    
}

.layanan1{
    grid-column-start: 1;
    grid-column-end: 4;
    height: 100px;
    font-size: 20px;
    font-family: arial;
    border: none;
    
}

.layanan2{
    width: 350px;
    height: 430px;
    margin-bottom: 100px;
}

.child-container{
    display: grid;
    grid-template-columns: 100%;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: white;
}

.img-layanan{
    width: 200px;
}

.child-item{
    font-size: 15px;
    text-align: center;
    padding: 15px;
}

.judul{
    font-size: 25px;
    color: red;
}

/* -------------------------------------akhir layanan-------------------------------------- */

/* --------------------------------------karir--------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}


.grid-containerr {
    display: grid;
    grid-template-columns: 1fr 1fr;	
}

.kata {
    text-align: left;
    padding-bottom: 100px;
}

.bg{
    float: left;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.words{
    position: absolute;
    width: 38%;
    padding: 90px;
    padding-top: 100px;
    padding-left: 140px;
}

.p1{
    font-size: 40px;
    font-weight: bold;
    margin-left: 130px;
    padding-top: 100px;
}

.p2{
    color: grey;
    font-size: 14px;
    margin-left: 130px;
    margin-bottom: 70px;
    line-height: 2;
}

.kata>a {
    color: white;
    background-image: linear-gradient(#fe5252,#f43b3b);
    padding: 20px 30px;
    text-decoration: none;
    margin-left: 130px;
    margin-top: 0px;
    border-radius: 45px;
    font-weight: bold;
    font-size: 23px;
}

a:hover {
    background-image: linear-gradient(#f22b2b, #f22b2b);
}


/* ---------------------------------------------karir last------------------------------------------ */


/* ----------------------------------------------hubungi kami--------------------------------------- */
a {
    text-decoration: none;
  }
  
  .hubungi-container {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;
    padding: 92px 0;
    background-color: #f8f9fa;
    grid-template-areas: "1 2 3";
    width: 100%;
    overflow: hidden;
    /* position: fixed; */
  }
  
  .item-hubungi {
    grid-area: "1";
    margin-left: 100px;
    width: 818px;
    height: 165px;
  }
  
  a:link {
    color: red;
  }
  
  .hub1 {
    font-size: 40px;
    margin: 0px 0px 13px;
    font-weight: 700;
    width: 818px;
    height: 68px;
  }
  
  .hub2 {
    width: 818px;
    height: 28px;
    color: #757575cc;
  }
  
  .hub3 {
    width: 818px;
    height: 28px;
    color: #757575cc;
  }
  
  .hub4{
    width: 818px;
    height: 28px;
    color: #757575cc;
  }
  
  .hubungi1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    width: 422px;
    height: 130px;
    background-color: white;
    justify-self: center;
    border: 1px solid #eee;
    box-shadow: 5px 5px 50px hsla(0, 0%, 84.7%, 0.2);
    box-sizing: border-box;
    padding: 0px 30px 0px 40px;
    align-items: center;
    margin-right: 200px;
  }
  
  .hubungi2 {
    width: 258px;
    height: 66px;
  }
  .hub5 {
    margin: 0px 0px 10px;
    width: 258px;
    height: 28.8px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .hub6 {
    margin: 0px 6px 0px 0px;
    width: 111px;
    height: 27px;
    font-size: 16px;
  }
  
  .hubungi3 {
    width: calc(100% - 45px);
  }

  /* ------------------------------------------end------------------------------------------- */